@import "colors";
@import "fonts";
@import "button";

*{
    font-family: 'Work Sans', sans-serif;
    list-style: none!important;
    text-decoration: none!important;
    transition: 0.3s ease-in-out all;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.section{
    margin-top: 180px;
}

.label-section{
    font-weight: map-get($font-weights, medium);
    font-size: 25px;
    color: $dark-color;
}

.heading-section{
    font-weight: map-get($font-weights, medium);
    font-size: 40px;
    color: $dark-color;
}

.sub-heading-section{
    font-weight: map-get($font-weights, light);
    font-size: 18px;
    color: $dark-color;
}