@import "mixins/breakpoints";
@import "colors";
@import "fonts";
@import "button";

* {
  font-family: "Work Sans",'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  list-style: none !important;
  text-decoration: none !important;
  transition: 0.3s ease-in-out all;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.section {
  margin-top: 120px;
  @include media-breakpoint-between(sm, lg) {
    margin-top: 60px;
  }
}

.label-section {
  font-weight: map-get($font-weights, medium);
  font-size: 25px;
  color: $button-color;
}

.heading-section {
  font-weight: map-get($font-weights, medium);
  font-size: 40px;
  color: $dark-color;

  @include media-breakpoint-down(md) {
    font-size: 30px;
  }
}

.sub-heading-section {
  font-weight: map-get($font-weights, light);
  font-size: 18px;
  color: $dark-color;
  @include media-breakpoint-down(md) {
    font-size: 16x;
  }
}

// Home CSS
.home {
  background-color: $second-color;
  padding-top: 200px;
  height: 100vh;
  overflow: inherit;

  @include media-breakpoint-down(lg) {
    padding-top: 100px;
  }
  @include media-breakpoint-down(md) {
    padding-top: 80px;
  }
  .title {
    font-weight: map-get($font-weights, bold);
    font-size: 40px;
    color: $dark-color;
    .v1 {
      color: $first-color;
    }
    .v2 {
      color: $first-color;
    }

    @include media-breakpoint-between(sm, lg) {
      font-size: 30px !important;
    }
    @include media-breakpoint-down(sm) {
      font-size: 25px !important;
    }
  }
  .sub-title {
    font-weight: map-get($font-weights, light);
    font-size: 20px;
    color: $dark-color;
    @include media-breakpoint-down(sm) {
      font-size: 16px;
    }
  }
  .btn-home {
    margin-top: 80px;
    @include media-breakpoint-down(lg) {
      margin-top: 40px;
    }
  }
  .img-home {
    .img-img {
      max-width: 100%;
      height: auto;
      @include media-breakpoint-between(sm, md) {
        max-width: 70%;
      }
    }
    @include media-breakpoint-between(sm, lg) {
      max-width: 500px;
    }
    @include media-breakpoint-down(sm) {
      max-width: 400px;
    }
  }
}

// Category CSS
.category {
  i {
    font-size: 35px;
    color: $button-color;
  }
  .trans {
    transition: none;
  }
  .card {
    border: 2px solid $button-color;
    color: $button-color;
    border-radius: 20px;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
      background-color: $button-color;
      color: $second-color;
    }
    .detail {
      .title {
        font-size: 20px;
      }
      .total {
        font-size: 15px;
      }
    }
  }
}

// Product CSS
.product {
  i {
    font-size: 35px;
    color: $button-color;
  }
  .card{
    border: none;
    cursor: pointer;
    &:hover{
      img{
        transform: scale(1.1);
      }
    }
    .img-box{
      max-width: 435px;
      max-height: 290px;
      border-radius: 20px;
      overflow: hidden;
      position: relative;
      .bg-img{
        background: linear-gradient(180deg, rgba(0,0,0,0) 52.17%, #000000 100%);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        .info{
          position: absolute;
          bottom: 20px;
          .member{
            font-size: 14px;
            font-weight: map-get($font-weights, medium);
            color: white;
          }
          .rate {
            i {
              font-size: 24px;
              color: orange;
            }
          }
        }
      }
    }
    .caption{
      .title{
        font-size: 20px;
        font-weight: map-get($font-weights, medium);
      }

      .price{
        color: $button-color;
        font-size: 25px;
        font-weight: map-get($font-weights, bold);
      }
      a{
        @include media-breakpoint-down(lg) {
          padding: 5px 20px;
        }
        @include media-breakpoint-down(md) {
          padding: 10px 50px;
        }
        @include media-breakpoint-down(sm) {
          padding: 5px 20px;
        }
      }
    }
  }
}
